<!DOCTYPE html>

<html>

<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script src="http://cdnapi.kaltura.com/p/2199811/sp/219981100/embedIframeJs/uiconf_id/36838491/partner_id/2199811">



	kWidget.embed({
		'targetId': 'myVideoTarget',
		'wid': '_2199811',
		'uiconf_id' : '36838491',
		'flashvars': {
			'playlistAPI':{
				'plugin': true,
				'includeInLayout': true,
				'autoPlay': false,
				'autoInsert':true,
				'kpl0Name' : 'test 4 item playlist',
				'kpl0Url' : 'https://www.kaltura.com/index.php/extwidget/preview/partner_id/2199811/uiconf_id/36838491/embed/auto?&flashvars[streamerType]=auto&flashvars[playlistAPI.kpl0Id]=0_c398if1h'
			}
		}
	});
</script>

</head>
<body>


<div id="myEmbedTarget" style="height:365px;width:650px">
<!--  SEO and video metadata go here -->
	<span property="dc:description" content="test folgers coffe"></span>
	<span property="media:title" content="FolgersCoffe.mpeg"></span>
	<span property="media:width" content="400"></span>
	<span property="media:height" content="300"></span>
</div>

</body>

</html>