<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0" metadata-complete="true">
  <display-name>KalturaLiveStream</display-name>
  <welcome-file-list>
    <welcome-file>/views/index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/views/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/views/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/views/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/views/error.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>fetchkalturaentry</servlet-name>
    <servlet-class>com.liveStream.FetchKalturaEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchkalturaentry</servlet-name>
    <url-pattern>/FetchKalturaEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>testlivestream</servlet-name>
    <servlet-class>com.liveStream.servlet.Live</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testlivestream</servlet-name>
    <url-pattern>/Live</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>tagVideos</servlet-name>
    <servlet-class>com.liveStream.servlet.FetchTagVideos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tagVideos</servlet-name>
    <url-pattern>/tagvideos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddContextVar</servlet-name>
    <servlet-class>com.liveStream.servlet.AddContextVar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContextVar</servlet-name>
    <url-pattern>/AddContextVar</url-pattern>
  </servlet-mapping>
</web-app>